apiVersion: v1
kind: Service
metadata:
  name: version-aggregator-svc
  namespace: {{ NAMESPACE }}
  labels:
    app: version-aggregator
spec:
  ports:
  - port: {{ VERSION_AGGREGATOR_PORT }}
  selector:
    app: version-aggregator
  clusterIP: None
